@charset "utf-8";﻿
body{position:relative;font-size:14px;line-height:1.6em; color:#333; letter-spacing: -1px;}
html,body {/*min-height:100%; height:100%;*/ font-family:'NanumS','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
/* 입력 form */
input[type="submit"]{height:40px;line-height:24px;}
input[type="radio"],input[type="checkbox"]{width:14px;height:14px;}
input[type="image"]{height:auto;margin:0;padding:0;border:none;}
input[type="file"]{height:auto;padding:0; }
button{height:40px;padding:0; background-color:#fff; }
select{min-width:70px;height:30px;padding:0;text-align:left; border:solid 1px transparent;background:url(../images/layout/select_arrow.png) 90% center no-repeat #fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;}


