@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/* font-face */
@font-face {
 font-family: 'NanumS';
 font-weight: 400;
 src: url('font/NanumSquareR.eot');
 src: url('font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
      url('font/NanumSquareR.woff') format('woff'),
      url('font/NanumSquareR.woff2') format('woff2'),
      url('font/NanumSquareR.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumS';
 font-weight: 600;
 src: url('font/NanumSquareB.eot');
 src: url('font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
      url('font/NanumSquareB.woff') format('woff'),
      url('font/NanumSquareB.woff2') format('woff2'),
      url('font/NanumSquareB.ttf') format('truetype');
}

@font-face {
      font-family: 'NanumS';
      font-weight: 800;
      src: url('font/NanumSquareEB.eot');
      src: url('font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
           url('font/NanumSquareEB.woff') format('woff'),
           url('font/NanumSquareEB.ttf') format('truetype');
     }